body {
    margin: 0;
    height: 100;
}

.header {
    padding: 15px 0;
    background-color: blueviolet;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid black;
    width: 70%;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
}

.logo-content-img { border: solid 0px #42515f;}

.address-text {
    font: normal normal bold 20px/25px Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: darkolivegreen;
    text-transform: capitalize;
}

.address_Book {color: darkslategray; }

* { box-sizing: border-box; }
.form-content {
    min-height: calc(100% 80%);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 solid green;
}

.form {
    width: 65%;
		padding: 44px 60px;
		border-radius: 8px;
		opacity: 1;
		border: 1px solid #f5f5f5;
		box-shadow: 0px 3px 6px #00000029;
		background: white 0% 0% no-repeat padding-box;
}

.form-head {
	font: normal normal bold 25px/38px Arial;
	letter-spacing: 0px;
	color: darkblue;
	text-transform: capitalize;
	opacity: 1;
	padding-bottom: 20px;
	
}

